<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Categories" }) %>
    <link rel="stylesheet" href="/categories.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <% if (categories.length > 0) { %>
        <ul class="categories" role="list">
          <% categories.forEach(category => { %>
          <li>
            <%- include('partials/category', { category }) %>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <h1>no categories</h1>
        <% } %>
        <a class="styled" href="/categories/create">create category</a>
      </section>
    </main>
  </body>
</html>
