<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Items" }) %>
  </head>
  <body>
    <header>
      <a class="logo styled" href="/">buyFlags</a>
      <ul role="list">
        <li>
          <a class="styled" href="/">items</a>
        </li>
        <li>
          <a class="styled" href="/categories">categories</a>
        </li>
      </ul>
    </header>
  </body>
</html>
