<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Items" }) %>
    <link rel="stylesheet" href="items.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="items">
        <% items.forEach(item => { %>
        <article class="item">
          <p class="price"><%= item.price_cents / 100 %>$</p>
          <h2 class="name"><%= item.name %></h2>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
