<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: locals.category ? category : "Items" }) %>
    <link rel="stylesheet" href="/items.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <% if (items.length > 0) { %>
        <ul class="items" role="list">
          <% items.forEach(item => { %>
          <li>
            <%- include('partials/item', { item }) %>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <h1>no items</h1>
        <% } %>
        <a class="styled" href="/items/create">create item</a>
      </section>
    </main>
  </body>
</html>
