.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.category {
  display: grid;
  padding: 2rem;
  height: 100%;

  background-color: var(--surface);
  border-radius: var(--rounded-card);
}
.category .name {
  font-size: 2rem;
  font-weight: 500;
}
