.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.item {
  display: grid;
  padding: 2rem;

  background-color: var(--surface);
  border-radius: var(--rounded-card);
}
.item .name {
  font-size: 1rem;
  font-weight: 400;
}
.item .price {
  font-size: 2rem;
  font-weight: 500;
}
